apiVersion: v2
name: relution
description: Install Relution in your Kubernetes cluster using Helm.
icon: https://relution.io/icons/icon-512x512.png
maintainers:
  - name: niels-hb
    email: niels.heidbrink@mway.io
sources:
  - https://relution.io
  - https://github.com/relution-io/relution-kubernetes

type: application

version: 3.0.6

appVersion: "5.35.4"

dependencies:
  - name: mariadb
    repository: https://charts.bitnami.com/bitnami
    version: 24.0.2
    condition: mariadb.enabled
