replicaCount: 1

image:
  repository: relution/relution
  pullPolicy: IfNotPresent
  # Overrides the image tag whose default is the chart appVersion.
  tag: ""

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

serviceAccount:
  create: true
  annotations: {}
  name: ""

podAnnotations: {}

podSecurityContext: {}

securityContext: {}

hostAliases: []

service:
  type: ClusterIP
  port: 80

ingress:
  enabled: false
  className: ""
  annotations: {}
  hosts:
    - host: chart-example.local
      paths:
        - path: /
          pathType: ImplementationSpecific
  tls: []

startupProbe:
  enabled: true
  failureThreshold: 30
  periodSeconds: 10

readinessProbe:
  enabled: true

livenessProbe:
  enabled: true

resources: {}

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80
  # targetMemoryUtilizationPercentage: 80

nodeSelector: {}

tolerations: []

affinity: {}

relution:
  config: {}
  environment: {}
  secrets: {}
  existingSecretRefs: []

additionalVolumes: []
additionalVolumeMounts: []

# The heap dump exporter sidecar is intended to be used for debugging. It will monitor the /opt/relution/log directory (customizable) and copy new files to a S3 bucket so they can be further inspected by our development team.
heapDumpExporter:
  enabled: false
  image:
    repository: amazon/aws-cli
    pullPolicy: IfNotPresent
    tag: "2.9.13"
  directory: /opt/relution/log
  s3:
    endpointUrl: https://s3.eu-central-1.amazonaws.com
    bucket: ""
    awsAccessKeyId: ""
    awsSecretAccessKey: ""

# MariaDB is provided as a dependency to enable quick debugging. We recommend deploying Relution on a dedicated database cluster.
mariadb:
  enabled: false
  auth:
    # Please change these passwords before deploying Relution.
    rootPassword: root
    username: relution
    password: relution
    database: relution
