{{- if .Values.heapDumpExporter.enabled }}
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ include "relution.fullname" . }}-heap-dump-exporter
  labels:
    {{- include "relution.labels" . | nindent 4 }}
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: {{ .Values.heapDumpExporter.persistence.size }}
  storageClassName: {{ .Values.heapDumpExporter.persistence.storageClass }}
{{- end }}
